<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>@RenderSection("Title")</title>
    <link rel="stylesheet" href="~/Content/layout.css" type="text/css"/>
</head>
<body>
@RenderBody()
</body>
</html>