<title>Книги, книжки, книжечки</title>
    <h1 align="center">Небольшой список книг</h1>
<div>
    <h2>Здесь я хотел бы немного рассказать, или скорее вкратце описать, те некотрые книги, которые мне дико понравились, и которые мне 
    хочется перечитывать: </h2>
    <ul>
        @foreach (var book in Model)
        {
            <li><b>@book.Name</b> @(" (" + book.Author + ", " + book.Year + ")")</li>
            <p>
                Жанр: @book.Genre
            </p>
            <p>
                Мое мнение: @book.MyOpinion
            </p>
        }
    </ul>
</div>