<title>Welcome stranger</title>
<h1 align="center">*** Главная страница нашего увлекаааательного сайта ***</h1>
<div>
    <p>
        <h2>A long time ago in a galaxy far, far away...</h2>
        В общем, это что-то вроде моего сайта, который я со своими скромными навыками html'а сделал в качестве ДЗ.
        Далее сайт будет расцветать и набираться сил, ведь через пару занятий нас научат делать сайты красивыми, как
        принцесс(если я к тому времени останусь на этих мастерклассах ASP.NET).
    </p>
    <p>
        <h2 align="center">Главная страница, наработки Razor'а, stay tuned!</h2>
    </p>

</div>

  <!--  Комменты здесь-->

