<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <link rel="icon" href="~/Content/favicon.png">
    <style>
        .menu li {
            display: inline-block; /* Строчно-блочные элементы */
            background: #0080FF; /* Цвет фона */
            margin-right: 3px; /* Расстояние между пунктами меню */
        }

        .menu a {
            color: #fff; /* Цвет ссылок */
            display: block; /* Блочный элемент */
            padding: 5px 15px; /* Поля вокруг текста */
            text-decoration: none; /* Убираем подчёркивание */
        }

        .menu li:hover {
            background: #333; /* Цвет фона при наведении курсора мыши */
        }

        #footer {
            position: fixed;
            bottom: 0px;
            text-align: end;
            background: #CEF6EC;
            color: #000000;
            width: 99%;
            font-family: 'Comic Sans MS';
            font-size: 28px;
            font-weight: bold;
        }

            #footer img {
                margin-bottom: 0;
            }
    </style>
</head>
<body>
    <nav class="menu">
        <li>@Html.ActionLink("Home Page", "Index", "Home")</li>
        <li>@Html.ActionLink("About Page", "Index", "About")</li>
        <li>@Html.ActionLink("Books Page", "Books", "Home")</li>
    </nav>
        @RenderBody()
    <div id="footer">
        Контакты: <a href="https://vk.com/sushisama"><img width="32px" height="32px" src="~/Content/vk.png"></a>
        <a href="https://telegram.me/sunshykin"><img width="32px" height="32px" src="~/Content/tlg.png"></a><br>
    </div>
</body>
</html>