<title>Обо мне любимом</title>
<h1 align="center">Целая страничка обо мне</h1>
<div>
    <p>
        <h3>
            Пожалуй расскажу, кто я такой. Зовут меня Дмитрий Федосов, и я студент 1-ого курса ЛЭТИ специальности "Компьютерная
            безопасность", как-то почти закрывший первый семестр. Пришел на курсы для получения новых знаний и обучения, в
            частности того же C#, о котором я раньше лишь слышал :)
        </h3>
</p>
    <p>
        Если вы вдруг(зачем вам это?) захотите со мной связаться, то найти и написать мне вы сможете, перейдя по ссылкам,
        так шикарно расположенным в нижней части страницы, в эдакой панели, сделанной на славу.
    </p>
</div>